/*
0-600px phone
600-900px tablet portrait
900-1200 tablet landscape
1800 + big desktop
*/
/*
-phone
-tab-port
-tab-lan
-big-desktop

1em=16px

therefore 600/16=37.5em;
          900/16=56.25em

*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  height: 100vh;
  width: 100%; }
  @media (max-width: 70em) {
    html {
      font-size: 57%; } }

body {
  background-color: #fbf7f3; }

.parent-grid {
  display: grid;
  grid-template-columns: minmax(max-content, 16%) 1fr minmax(max-content, 7%);
  grid-template-rows: minmax(max-content, 9%) repeat(8, 1fr);
  grid-column-gap: 0px;
  height: 100vh;
  overflow-x: hidden;
  width: 100vw; }

.navigation {
  grid-area: 1 / 1 / -1 / 2; }

.main-content {
  grid-area: 1 / 2 / -1 / 3; }
  @media (max-width: 60em) {
    .main-content {
      grid-area: 2 / 2 / -1 / 4; } }
  @media (max-width: 54em) {
    .main-content {
      grid-area: 2 / 1 / -1 / 4; } }

.header {
  grid-area: 1 / 3 / -1 / 4; }
  @media (max-width: 60em) {
    .header {
      grid-area: 1 / 2 / 1 / 4; } }
  @media (max-width: 54em) {
    .header {
      grid-area: 1 / 1 / 1 / 4; } }

/*********************************/
/*********************************/
/****************Scroll bar******/
/*********************************/
::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  background-color: #1d1d1d;
  border-radius: 1rem; }

::-webkit-scrollbar-thumb:hover {
  background-color: #1d1d1d; }

::-webkit-scrollbar-track {
  background-color: rgba(30, 36, 45, 0.1);
  border-radius: 1rem; }

::-webkit-scroll-behaviour {
  scroll-behavior: smooth; }

.header {
  padding: 1.4rem 3rem;
  border-left: 1px solid rgba(129, 128, 123, 0.3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 1.6rem 0; }
  @media (max-width: 60em) {
    .header {
      flex-direction: row;
      margin: 0;
      border-left: 0;
      border-bottom: 2px solid rgba(129, 128, 123, 0.3); } }
  .header-dp {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    position: relative; }
    @media (max-width: 60em) {
      .header-dp {
        flex-direction: row; } }
    .header-dp::before {
      content: "";
      height: 1.2rem;
      width: 1.2rem;
      background-color: #3bd9a0;
      border: 2px solid white;
      border-radius: 50%;
      position: absolute;
      top: -0.1rem;
      left: 3.2rem;
      z-index: 2; }
    .header-dp-img {
      width: 4rem;
      object-fit: cover;
      height: 4rem;
      border-radius: 50%;
      margin-bottom: 1.8rem;
      cursor: pointer;
      filter: grayscale(1); }
      @media (max-width: 60em) {
        .header-dp-img {
          margin: 0; } }
    .header-dp p {
      font-size: 1.2rem;
      color: #1d1d1d;
      margin-bottom: 0.5rem;
      font-weight: 700; }
    .header-dp span {
      font-size: 1rem;
      color: #81807b;
      font-weight: 500; }
    @media (max-width: 60em) {
      .header-dp p,
      .header-dp span {
        opacity: 0; } }
  .header-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1rem; }
    @media (max-width: 60em) {
      .header-options {
        flex-direction: row; } }
  .header-icons {
    display: grid;
    place-items: center;
    width: 3rem;
    height: 3rem;
    background-color: white;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 2rem rgba(29, 29, 29, 0.3);
    transition: all 0.2s; }
    .header-icons ion-icon {
      font-size: 1.6rem; }
    .header-icons:hover {
      background-color: black;
      color: white; }

#plus {
  background-color: black;
  color: white;
  box-shadow: 0 0 2rem rgba(29, 29, 29, 0.6);
  font-size: 1.8rem; }

.navigation {
  padding: 3rem 1rem 3rem 3rem; }

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /**********************/
  /* nav logo */
  /**********************/
  /**********************/
  /* ul list styling */
  /**********************/ }
  .nav-items {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .nav_checkbox {
    display: none; }
  @media (max-width: 54em) {
    .nav {
      visibility: hidden;
      z-index: 1500;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      opacity: 0;
      width: 0;
      transition: all 0.2s; }
      .nav_checkbox:checked ~ .nav-background {
        height: 100vh;
        width: 75%;
        border-radius: 0; }
      .nav_checkbox:checked ~ .nav {
        opacity: 1;
        width: 75%;
        transition: all 0.2s;
        visibility: visible; }
      .nav_button {
        background-color: white;
        height: 4rem;
        width: 4rem;
        position: fixed;
        top: 8rem;
        left: 1rem;
        border-radius: 50%;
        z-index: 2000;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.27);
        text-align: center;
        cursor: pointer; }
        .nav_button .nav_icon-menu {
          position: relative;
          margin-top: 2rem; }
          .nav_button .nav_icon-menu, .nav_button .nav_icon-menu::before, .nav_button .nav_icon-menu::after {
            width: 2.5rem;
            height: 2px;
            background-color: grey;
            display: inline-block; }
          .nav_button .nav_icon-menu::before, .nav_button .nav_icon-menu::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all 0.2s; }
          .nav_button .nav_icon-menu::before {
            top: -0.7rem; }
          .nav_button .nav_icon-menu::after {
            top: 0.7rem; }
        .nav_button:hover .nav_icon-menu::before {
          top: -0.9rem; }
        .nav_button:hover .nav_icon-menu::after {
          top: 0.9rem; }
      .nav-background {
        height: 3.5rem;
        width: 3.5rem;
        border-radius: 50%;
        position: fixed;
        top: 8.5rem;
        left: 1rem;
        background-image: linear-gradient(#d3c5b7, #fcf0e5);
        z-index: 1000;
        transition: all 0.2s; } }
  .nav-logo {
    display: grid;
    place-items: center;
    margin-bottom: 4rem;
    cursor: pointer; }
    .nav-logo-svg {
      height: 2.4rem; }
    .nav-logo h1 {
      font-size: 2rem;
      color: #1d1d1d; }
  .nav-options {
    list-style: none;
    padding: 0.5rem; }
    .nav-options-svg {
      height: 1.8rem; }
    .nav-options-item {
      margin-bottom: 1rem;
      width: 100%; }
    .nav-options-link:link, .nav-options-link:visited {
      padding: 0.6rem 1rem 0.6rem 1.6rem;
      text-decoration: none;
      color: #1d1d1d;
      font-size: 1.6rem;
      display: flex;
      align-items: center;
      gap: 1rem;
      margin-left: -1rem;
      font-size: 1.4rem;
      border-radius: 3px;
      transition: all 0.2s; }
      @media (max-width: 54em) {
        .nav-options-link:link, .nav-options-link:visited {
          margin-left: 0.5rem; } }
      .nav-options-link:link span, .nav-options-link:visited span {
        font-size: 1.2rem;
        font-weight: 700; }
    .nav-options-link:hover, .nav-options-link:active {
      background-color: #eee6e1; }
    .nav-options-resources {
      list-style: none;
      color: rgba(129, 128, 123, 0.8);
      margin-left: 3rem;
      padding: 0.5rem; }
      .nav-options-resources li {
        display: flex;
        align-items: center;
        gap: 0.8rem;
        cursor: pointer;
        padding: 0.4rem;
        font-size: 1.2rem;
        font-weight: 500; }
        .nav-options-resources li:hover {
          background-color: #eee6e1; }
        .nav-options-resources li:first-child {
          margin-top: 1rem; }
          .nav-options-resources li:first-child::before {
            background-color: pink; }
        .nav-options-resources li:nth-child(2)::before {
          background-color: #fabd91; }
        .nav-options-resources li:nth-child(3)::before {
          background-color: #425a83; }
        .nav-options-resources li:not(:last-child) {
          margin-bottom: 1.4rem; }
        .nav-options-resources li::before {
          content: "";
          height: 0.7rem;
          width: 0.7rem;
          border-radius: 2px; }
  .nav-logout {
    display: flex;
    align-items: center;
    border: none;
    background: none;
    gap: 1rem;
    padding: 0.5rem;
    cursor: pointer;
    margin-top: auto;
    transition: all 0.2s;
    border-radius: 3px; }
    @media (min-width: 54em) {
      .nav-logout {
        margin-bottom: 2rem; } }
    .nav-logout div {
      height: 3rem;
      width: 3rem;
      background-color: #1d1d1d;
      border-radius: 50%;
      display: grid;
      place-content: center;
      color: white;
      font-size: 1.6rem; }
    .nav-logout p {
      font-size: 1.2rem;
      font-weight: 700;
      color: #1d1d1d; }
    .nav-logout:hover {
      background-color: #eee6e1; }

.chev-down {
  margin-left: auto;
  font-size: 1rem; }

@media (max-width: 54em) {
  .nav {
    margin-top: 10rem;
    height: 85vh;
    padding: 3rem 1rem 3rem 3rem; }
    .nav-logo {
      margin-bottom: 2rem;
      margin-left: auto;
      margin-right: auto; }
      .nav-logo img {
        display: inline-block;
        margin-bottom: 0.3rem; }
      .nav-logo h1 {
        display: inline-block; }
  .nav_checkbox:checked ~ .nav-background {
    height: 100vh;
    width: 75%;
    border-radius: 0; }
  .nav_checkbox:checked ~ .nav {
    opacity: 1;
    width: 75%;
    visibility: visible; }
  .nav_checkbox:checked + .nav_button .nav_icon-menu {
    background-color: transparent; }
  .nav_checkbox:checked + .nav_button .nav_icon-menu::before {
    top: 0;
    transform: rotate(135deg); }
  .nav_checkbox:checked + .nav_button .nav_icon-menu::after {
    top: 0;
    transform: rotate(-135deg); } }

@media (min-width: 54em) {
  .nav {
    height: 100%; } }

@media (max-width: 30em) {
  .nav_checkbox:checked ~ .nav-background {
    height: 100vh;
    width: 89%;
    border-radius: 0; }
  .nav_checkbox:checked ~ .nav {
    opacity: 1;
    width: 89%; } }

#selected-dashboard {
  background-color: #eee6e1; }

.main-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr); }
  @media (max-width: 54em) {
    .main-content {
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: repeat(1, 1fr);
      grid-row-gap: 2rem; }
      .main-content .activities {
        height: 100%; }
      .main-content .routine {
        height: 100%; } }

.activities {
  display: flex;
  flex-direction: column;
  padding: 3rem 4rem 3rem 4rem;
  font-size: 2rem; }
  .activities-month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem; }
    .activities-month p {
      color: rgba(29, 29, 29, 0.95);
      font-weight: 500;
      font-size: 1.8rem; }
  .activities-view:link, .activities-view:visited {
    font-size: 1.2rem;
    text-decoration: none;
    color: #81807b;
    transition: all 0.2s; }
    .activities-view:link:hover, .activities-view:visited:hover {
      color: rgba(29, 29, 29, 0.95); }
  .activities-tasks-1 {
    outline: 1px solid rgba(129, 128, 123, 0.3);
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
    transition: all 0.2s; }
    .activities-tasks-1:hover {
      transform: scale(1.03) translateY(-2px);
      outline: 1px solid rgba(129, 128, 123, 0.9);
      box-shadow: 0 0.5rem 1rem rgba(29, 29, 29, 0.1); }
    .activities-tasks-1-msg {
      display: flex;
      justify-content: space-between;
      font-size: 1.2rem;
      color: rgba(129, 128, 123, 0.8);
      margin-bottom: 0.7rem; }
    .activities-tasks-1-p {
      font-size: 1.4rem;
      margin-bottom: 2rem;
      font-weight: 500; }
    .activities-tasks-1-feedback {
      display: flex;
      align-items: center;
      justify-items: center;
      gap: 1rem; }
      .activities-tasks-1-feedback div {
        background-color: #f8d6b7;
        display: grid;
        place-items: center;
        height: 1.4rem;
        width: 1.4rem;
        border-radius: 100%;
        color: #1d1d1d;
        margin-right: 2px;
        font-size: 0.9rem; }
      .activities-tasks-1-feedback ion-icon {
        font-size: 1.8rem; }
      .activities-tasks-1-feedback p {
        font-size: 1.2rem;
        color: rgba(29, 29, 29, 0.8);
        font-weight: 500; }
  @media (max-width: 54em) {
    .activities-tasks {
      margin-bottom: 5rem; } }
  .activities-learning {
    margin-top: auto; }

.tick {
  font-size: 1.8rem;
  color: #9cbac2; }

.learning-p {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 1rem; }
  .learning-p a:link,
  .learning-p a:visited {
    font-size: 1.8rem;
    text-decoration: none;
    color: rgba(129, 128, 123, 0.9);
    transition: all 0.2s; }
  .learning-p a:hover {
    color: rgba(29, 29, 29, 0.95); }

.learning-text {
  font-size: 1.2rem;
  color: rgba(129, 128, 123, 0.95);
  font-weight: 500;
  margin-bottom: 2rem;
  cursor: pointer; }

.learning-icons {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  grid-row-gap: 2rem;
  justify-content: space-between; }
  .learning-icons-card--1 {
    display: flex;
    align-items: center;
    cursor: pointer;
    gap: 1.5rem; }
    .learning-icons-card--1_box {
      height: 4rem;
      width: 4rem;
      display: grid;
      place-items: center; }
    .learning-icons-card--1 ion-icon {
      font-size: 2.5rem; }
    .learning-icons-card--1-txt p {
      font-size: 1.4rem;
      font-weight: 500;
      color: #1d1d1d;
      margin-bottom: 0.5rem; }
    .learning-icons-card--1-txt span {
      font-size: 1.2rem;
      color: rgba(29, 29, 29, 0.6);
      font-weight: 500; }

.h2-second {
  font-size: 1.8rem;
  color: rgba(29, 29, 29, 0.95);
  font-weight: 500; }

.color-blue {
  color: #435b84;
  background-color: #bfdbfc83; }

.color-yellow {
  color: #fdae6c;
  background-color: #f8e5d7b0; }

.color-pink {
  background-color: #f7ecea;
  color: #e1a9af; }

.color-green {
  color: #96abb1;
  background-color: #e9ebea; }

.routine {
  padding: 1.4rem 4rem;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  margin: 1.6rem 0; }
  .routine-plan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3.5rem; }
    .routine-plan-txt p {
      font-size: 1.8rem;
      margin-bottom: 0.5rem;
      color: #1d1d1d;
      font-weight: 400; }
    .routine-plan-txt span {
      font-size: 1.2rem;
      color: rgba(129, 128, 123, 0.7);
      font-weight: 500; }
  .routine-plus {
    text-decoration: none;
    height: 4rem;
    width: 4rem;
    font-size: 2rem;
    display: grid;
    place-items: center;
    color: white;
    background-color: #1d1d1d;
    border-radius: 50%;
    border: 1px solid transparent;
    cursor: pointer; }
    .routine-plus:hover {
      background-color: white;
      border: 1px solid black;
      color: black; }
  .routine-text {
    font-size: 2.2rem;
    margin-bottom: 2rem;
    font-weight: 500; }
  .routine-img-text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2rem; }
    .routine-img-text--meeting {
      font-size: 1.2rem;
      font-weight: 500;
      border-left: 1px solid rgba(129, 128, 123, 0.4);
      padding-left: 2rem; }
      .routine-img-text--meeting p {
        color: rgba(29, 29, 29, 0.9);
        margin-bottom: 0.5rem; }
      .routine-img-text--meeting span {
        color: #81807b; }
  .routine-progress {
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 4fr;
    grid-gap: 2.5rem; }
    @media (max-width: 54em) {
      .routine-progress {
        grid-template-rows: 20vw 30vw; } }
    @media (max-width: 40em) {
      .routine-progress {
        grid-template-rows: 30vw 40vw; } }
    @media (max-width: 30em) {
      .routine-progress {
        grid-template-rows: 50vw 60vw; } }
    .routine-progress-1 {
      grid-column: 1 / -1;
      background-image: linear-gradient(to right bottom, rgba(230, 228, 197, 0.4), rgba(234, 230, 207, 0.4)), url("../imgs/flower-1.jpg");
      background-size: cover;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
      .routine-progress-1 p {
        font-size: 1.8rem;
        margin-bottom: 1rem;
        font-weight: 500;
        color: rgba(29, 29, 29, 0.95); }
      .routine-progress-1 span {
        font-size: 1.2rem;
        color: rgba(29, 29, 29, 0.8);
        font-weight: 500; }
      .routine-progress-1 button {
        align-self: flex-start;
        border: 1px solid rgba(29, 29, 29, 0.7);
        padding: 0.8rem 1.6rem;
        font-size: 1rem;
        font-weight: 500;
        font-family: inherit;
        text-transform: uppercase;
        background-color: transparent;
        transition: all 0.2s;
        cursor: pointer; }
        .routine-progress-1 button:hover {
          background-color: rgba(255, 255, 255, 0.3);
          transform: translateY(-2px); }
        .routine-progress-1 button:active {
          transform: translateY(-1px); }
    .routine-progress-2 {
      background-image: linear-gradient(to right bottom, rgba(230, 228, 197, 0.4), rgba(234, 230, 207, 0.4)), url("../imgs/flower-4.jpg");
      background-size: cover;
      padding: 2rem; }
    .routine-progress-3 {
      background-image: linear-gradient(to right bottom, rgba(230, 228, 197, 0.4), rgba(234, 230, 207, 0.4)), url("../imgs/flower-3.jpg");
      background-size: cover;
      padding: 2rem; }

.icons-img2 p {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: 500;
  color: rgba(29, 29, 29, 0.95); }

.icons-img2 div {
  display: flex;
  align-items: center;
  gap: 0.5rem; }
  .icons-img2 div ion-icon {
    font-size: 1.6rem; }
  .icons-img2 div span {
    font-size: 1.2rem;
    color: rgba(29, 29, 29, 0.8);
    font-weight: 500; }

.img-box {
  display: flex; }
  .img-box-1 {
    width: 3.5rem;
    height: 3.5rem;
    object-fit: cover;
    border-radius: 50%;
    border: 0.3rem solid white; }
  .img-box-2 {
    margin-left: -1.4rem; }
  .img-box-addmore {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f9d9bb;
    cursor: pointer; }
    .img-box-addmore::before {
      content: "+5";
      font-size: 1.1rem; }
    .img-box-addmore:hover {
      background-color: #f3c69d; }
