//universal classes to use in our project

.h2-second {
  font-size: 1.8rem;
  color: rgba($color-black, 0.95);
  font-weight: 500;
}

.color-blue {
  color: #435b84;
  background-color: #bfdbfc83;
}

.color-yellow {
  color: #fdae6c;
  background-color: #f8e5d7b0;
}

.color-pink {
  background-color: #f7ecea;
  color: #e1a9af;
}

.color-green {
  color: #96abb1;
  background-color: #e9ebea;
}
